BODY {
    background-color:#E3E3C7;
    font-family:Georgia, Times New Roman;
    font-size:16px;
    line-height:1.7;
    color: #4b4b39;
    padding:0px;
    margin:0px;
}
H1, H2, H3 {
    font-weight:normal;
}
H1 SPAN {
    color:#4b4b39;
}
A {
    color: #737357;
}
A:hover {
    color: #4b4b39;
}
DIV#tree {
    margin-left:10px;
    visibility:hidden;
}
DIV#tree DIV {
    margin-left:22px;
}
DIV#tree P {
    margin:0px;
    padding:1px;
    padding-left:20px;
}
DIV#tree P.open {
    background:url('plus.gif') 5px center no-repeat;
}
DIV#tree P.close {
    background:url('minus.gif') 5px center no-repeat;
}
DIV#tree P:hover {
    background-color:#f1f1e3;
    -moz-border-radius:5px;
}
DIV#tree A {
    display:block;
    padding-left:20px;
    background:url('folder.gif') no-repeat left center;
    text-decoration:none;
    font-size:14px;
}
DIV#tree A:hover {
    text-decoration:underline;
    color:#000000;
}
